<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jupyter.lab</string>
    <key>ProgramArguments</key>
    <array>
    	<string>/Users/samlau/.pyenv/shims/jupyter</string>
    	<string>lab</string>
    	<string>--no-browser</string>
    	<string>--notebook-dir=/Users/samlau/Repository/Language/Python/jupyter</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/local.job.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/local.job.out</string>
</dict>
</plist>
